/* Global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  text-decoration: none;
  color: black;
}

/* Section 1: Navigation bar */
.navigation-bar {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 32px;
}

span {
  font-weight: normal;
}

.navigation-bar nav li {
  list-style-type: none;
  display: inline-flex;
  padding: 0px 16px;
}

.nav-links-mobile {
  display: none;
}

/* Section 2: Welcome banner */
.welcome-banner {
  background-color: #CCC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#welcome-banner-img {
  width: 60%;
  padding: 32px 24px;
  flex-shrink: 1;
  /* Flex shrink doesn't seem to be working? */
}

.welcome-banner-description {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 300px;
  flex-shrink: 2;
  /* Flex shrink doesn't seem to be working? */
}

.welcome-banner-description h2 {
  font-size: 2.4rem;
  width: 90%;
}

.welcome-banner-description h3 {
  padding: 15px 0px 30px 0px;
  font-size: 1.1rem;
  line-height: 1.4;
  width: 90%;
}

.welcome-banner-description .button {
  font-size: 1.1rem;
  width: 100%;
  padding: 8px 0px;
  color: white;
  background-color: #696969;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 960px) {
  .welcome-banner-description .button:hover {
    background-color: #434a54;
  }
}

/* Section 3: News */
.news {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Highlighted article */
.highlighted-article {
  margin: 32px 24px 32px 24px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

#highlighted-article-img {
  width: 100%;
}

.highlighted-article h3 {
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 1.5rem;
}

.highlighted-article p {
  font-size: 1.1rem;
  line-height: 1.4;
}

.author {
  font-size: 1rem;
  padding-top: 40px;
}

/* News carousel */
.news-carousel {
  padding-bottom: 32px;
  width: 40%;
  border-left: 1px solid #CCC;
}

.news-carousel-top,
.news-carousel-middle,
.news-carousel-bottom {
  display: flex;
  flex-direction: row;
}

.news-carousel-top {
  padding-top: 32px;
}

@media only screen and (min-width: 960px) {

  .news-carousel-top:hover,
  .news-carousel-middle:hover,
  .news-carousel-bottom:hover {
    background-color: #CCC;
  }

  .courses-showcase-mobile {
    display: none;
  }
}

.news-carousel-middle img,
.news-carousel-bottom img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.news-carousel-top img {
  width: 35%;
  height: auto;
  padding: 0px 16px 16px 16px;
}

.news-carousel-text {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-carousel-text h3 {
  font-size: 1.3rem;
  width: 95%;
}

.news-carousel-text h4 {
  padding: 8px 0px;
  line-height: 1.4;
  font-size: 1.1rem;
  width: 95%;
  font-weight: normal;
}

.news-carousel-text a {
  color: #3e72c7;
  font-weight: 500;
  font-size: 1.1rem;
}

/* Section 4: Courses */
/* "Start learning" title */
.courses-showcase-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 32px;
}

/* tile cards */
.courses {
  padding: 32px 72px;
  background-color: #CCC
}

.courses-showcase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.courses-showcase img {
  height: auto;
  width: 100%;
}

.courses-showcase-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 300px;
  height: 300px;
  margin-bottom: 32px;
  margin-right: 32px;
}

.courses-showcase .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  padding-right: 16px;
  height: 155px;
}

.courses-showcase .text h4 {
  padding: 8px 0px;
  text-transform: uppercase;
  font-weight: 500;
}

.courses-showcase .text p {
  height: 60px;
  line-height: 1.2;
}

.courses-showcase h3 {
  font-size: 1.4rem;
  padding-bottom: 6px;
}

/* Section 5: Thesis exhibit */
/* "Thesis exhibit" title */
.thesis h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 0px;
  width: 100%;
}

/* Thesis section */
.thesis-news-block {
  display: flex;
}

#thesis-highlighted-article-no-top-margin {
  margin-top: 0px;
}

#thesis-carousel-no-top-margin {
  padding-top: 0px;
}

#thesis-highlighted-article-h3 {
  padding-top: 24px;
  padding-bottom: 8px;
}

#thesis-news-carousel {
  border: none;
}

video {
  max-height: 450px;
  /* Problem area: I want there to be no gap at the top of the video, but not sure how to achieve it */
}

/* Section 6: footer */
footer {
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  height: 40px;
  border-top: 1px solid #CCC;
}

footer li {
  list-style-type: none;
  display: inline;
  padding: 0 16px;
}

footer p {
  float: left;
}

footer nav {
  float: right;
}

/* Mobile/tablet friendly version of the site */
@media only screen and (max-width: 960px) {

  /* Section 1: Navigation bar */
  .logo {
    display: none;
  }

  .nav-links ul {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    width: 100%;
  }

  .nav-links-mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }

  /* Section 2: Welcome banner */
  #welcome-banner-img {
    width: 100%;
    padding: 0px;
  }

  .welcome-banner-description {
    max-width: 100%;
    padding: 32px 16px 32px 16px;
  }

  .welcome-banner-description h2 {
    font-size: 2.5rem;
  }

  .welcome-banner-description h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 32px 0px 24px 0px;
  }

  .welcome-banner-description .button {
    font-size: 1.4rem;
  }

  /* Section 3: News */
  .highlighted-article {
    display: none;
  }

  .news-carousel {
    width: 100%;
    background-color: white;
    padding-bottom: 0px;
  }

  .news-carousel-text {
    padding-left: 16px;
    width: 90%;
  }

  .news-carousel-text h3 {
    font-size: 1.8rem;
    padding-top: 10px;
  }

  .news-carousel-top,
  .news-carousel-middle,
  .news-carousel-bottom {
    flex-direction: column;
    padding-bottom: 32px;
    /* Spec says 64px but that looks too big to me. I chose 32px instead */
    padding-left: 16px;
  }

  .news-carousel-top {
    padding-top: 16px;
  }

  .news-carousel-top img,
  .news-carousel-middle img,
  .news-carousel-bottom img {
    width: 90%;
    height: 270px;
    object-fit: cover;
    padding-left: 0px;
  }

  /* Section 4: Courses */
  .courses {
    background-color: white;
    border-top: 1px solid #CCC;
    padding: 0px;
  }

  .courses-showcase-title {
    font-size: 2.5rem;
    padding-bottom: 16px;
    padding-top: 32px;
    text-align: center;
  }

  .courses-showcase-block {
    display: none;
  }

  .courses-showcase-mobile {
    display: flex;
    flex-direction: column;
    margin: 0px 16px 32px 16px;
  }

  .courses-showcase-mobile h3 {
    padding: 16px 0px 24px 16px;
    background-color: #CCC;
    margin: 8px;
    font-size: 1.5rem;
    font-weight: normal;
  }

  /* Section 5: Thesis exhibit */
  .thesis {
    border-top: 1px solid #CCC;
  }

  .thesis h2 {
    font-size: 2.5rem;
    padding: 32px 0px 16px 0px;
  }

  .thesis .news-carousel {
    display: none;
  }

  .thesis video {
    display: block;
    width: 100%;
  }

  #thesis-highlighted-article-no-top-margin {
    display: block;
    width: 100%;
    margin: 0px;
  }

  .thesis-news-block h3,
  .thesis-news-block p {
    display: none;
  }

  /* Section 6: footer */
  footer {
    padding: 0px;
    margin-top: 24px;
    border-top: none;
  }

  footer nav {
    display: none;
  }

  footer p {
    padding: 16px 0px 16px 16px;
  }
}
