* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  text-decoration: none;
  color: black;
}

/* Section 1: Navigation bar */

.navigation-bar {
  height: 64px;
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 24px;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: space-between;*/
  align-items: center;
  height: 32px;
}


.navigation-bar nav li {
  /* padding-right: 24px; */
  /* links not floating to right?! */
  list-style-type: none;
  display: inline;
  padding: 0px 16px;
}

/* Section 2: Welcome banner */

.welcome-banner {
  background-color: #CCC;
  /*display: inline-flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*not wrapping*/
  justify-content: flex-start;
  align-items: center;
}

#welcome-banner-img {
  width: 60%;
  padding: 32px 24px;
}

.welcome-banner-description {
  display: flex;
  flex-direction: column;
}

.welcome-banner-description h2 {
  font-size: 2.4rem;
}

.welcome-banner-description h3 {
  padding: 15px 0px 30px 0px;
  font-size: 1.1rem;
  line-height: 1.4;
}

.welcome-banner-description .button {
  font-size: 1.1rem;
  width: 100%;
  padding: 8px 0px;
  color: white;
  background-color: #696969;
  text-align: center;
  text-decoration: none;
  /*need to center text somehow */
}

.welcome-banner-description .button:hover {
  background-color: #434a54;
}

.welcome-banner-description {
  /*width: 30%;*/
  max-width: 30%;
}

/* Section 3: News */

/* Highlighted article */

.news {
  background-color: #F2F2F2;
  display: flex;
  /*or inline?*/
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: center;
  align-items: center;*/
}

.highlighted-article {
  margin: 32px 24px 32px 24px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.highlighted-article h3 {
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 1.5rem;
}

.highlighted-article p {
font-size: 1.1rem;
line-height: 1.4;
}

#highlighted-article-img {
  /*flex: 1 2 60%;*/
  width: 100%;
}

#author {
  font-size: 1rem;
  padding-top: 40px;
}

/* News carousel */

.news-carousel {
  padding-bottom: 32px;
  width: 40%;
  border-left: 1px solid #CCC;
}

.news-carousel-top, .news-carousel-middle, .news-carousel-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.news-carousel-top {
  padding-top: 32px;
}

.news-carousel-top:hover, .news-carousel-middle:hover, .news-carousel-bottom:hover {
  background-color: #CCC;
}

.news-carousel-middle img, .news-carousel-bottom img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.news-carousel-top img {
  width: 35%;
  height: auto;
  padding: 0px 16px 16px 16px;
}

.news-carousel-text h3 {
  font-size: 1.3rem;
  width: 95%;
}

.news-carousel-text {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-carousel-text p {
  padding: 8px 0px;
  line-height: 1.4;
  font-size: 1.1rem;
  width: 95%;
}

.news-carousel-text a {
  color: #3e72c7;
}

/*.news-carousel h2, p, a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}*/

/* Section 4: Courses */

.courses {
  padding: 32px 72px;
  background-color: #CCC
}

.courses-showcase {
  display: flex;
  flex-direction: row;
  justify-content: center; /*not centering. IT'S COLUMNM so this is up down not left right*/
  /*align-items: flex-start;*/ /*its not hitting the top?*/
  flex-wrap: wrap; /*
  padding-bottom: 32px;
  padding-left: 72px;
  padding-right: 72px; */
  /*max-width: 1100px; this is making the centering funny with excess space on the right. BUT HOW DO I STOP 4 BLOCKS SHOWING ON A LARGER SCREEN? */
  /*margin: 32px 72px;*/
}

/* Start learning title */
.courses-showcase-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 32px;
}

.courses-showcase img {
  height: auto;
  width: 100%; /*50% of what? how does the percentages work? is it based on parents width?*/
}

.courses-showcase-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white; /*grey color not appearing*/
  width: 300px;
  height: 300px;
  margin-bottom: 32px;
  margin-right: 32px;
  /* not working? border-bottom: 32px;
  border-top: 32px; */

  /*width: 50px;*/ /*makes no diff*/
}

/* is this working? */

.courses-showcase .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  padding-right: 16px;
  height: 155px;
}

.courses-showcase .text h4 {
  padding: 8px 0px;
  text-transform: uppercase;
  font-weight: 500;
}

.courses-showcase .text p {
  height: 60px;
  line-height: 1.2;
}

.courses-showcase h3 {
  font-size: 1.4rem;
  padding-bottom: 6px;
}


/* Section 5: thesis exhibit */

/*.thesis {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}*/

/* Thesis exhibit title */
.thesis h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 0px;
  width: 100%;
}


.thesis-news-block {
  display: flex;
}

#thesis-highlighted-article-no-top-margin {
  margin-top: 0px;
} /* why margin and not padding? try padding*/

#thesis-carousel-no-top-margin {
  padding-top: 0px;
} /* not working. Fixed: i was targeting the wrong thing; the whole carousel block and not just the top news item*/

#thesis-highlighted-article-h3 {
  padding-top: 24px;
  padding-bottom: 8px;
}

#thesis-news-carousel {
  border: none;
}

video {
  max-height: 450px; /*problem area. want it proportional, responsive, with no gap at the top of the video*/ /* the video wasnt filling the full width before. now that i made the height bigger - 600px - it does*/
}

/* footer */

footer {
  /*display: flex;
  flex-direction: row;
  /*justify-content: flex-start;*/ /*stopping it from being flex allowed me to position the kids in the right place with float!*/
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px; /*or 24-16? to make it equal to left padding */
  height: 40px;
  border-top: 1px solid #CCC;
}

footer li {
  list-style-type: none;
  display: inline;
  padding: 0 16px;
}

footer p {
  float: left;
}

footer nav {
  float: right;
}

/* trying to make nav all the way to the right, and copyright to the left
footer p {
display: flex;
justify-content: flex-start;
}

footer nav {
  display: flex;
  justify-content: flex-end;
}*/
